{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-4 offset-4">
				<h1>Inscription</h1>

				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btn btn-primary col-12">S'inscrire</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
{% endblock %}
